<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Info Portal</h1>
    <p>Home Page for Bio & Chem Portal</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/ironwood_logo_h.png" alt="Logo">
  </div>
  <div fxFlex></div>
</div>

<div  fxLayout="row">
  <mat-card >
    <mat-card-header>
      <div mat-card-avatar class="bio-portal-avatar"></div>
      <mat-card-title>Bioinformatic</mat-card-title>
      <mat-card-subtitle>multiple portals</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <a mat-button routerLink="/bio-portal/bdna"><span class="fa fa-home fa-lg"></span> B-DNA</a>
      </p>
      <p>
        <a mat-button routerLink="/bio-portal/rna"><span class="fa fa-home fa-lg"></span> RNA Sequence</a>
      </p>
      <p>
        <a mat-button routerLink="/bio-portal/bdna"><span class="fa fa-home fa-lg"></span> GWAS Database</a>
      </p>
      <p>
        <a mat-button routerLink="/bio-portal/cellular-expression"><span class="fa fa-home fa-lg"></span> Cellular Expression Database</a>
      </p>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="chem-portal-avatar"></div>
      <mat-card-title>Chemistry</mat-card-title>
      <mat-card-subtitle>multiple portals</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <a mat-button routerLink="/bio-portal/bdna"><span class="fa fa-home fa-lg"></span> B-DNA</a>
      </p>
      <p>
        <a mat-button routerLink="/bio-portal/rna"><span class="fa fa-home fa-lg"></span> RNA Sequence</a>
      </p>
      <p>
        <a mat-button routerLink="/bio-portal/bdna"><span class="fa fa-home fa-lg"></span> GWAS Database</a>
      </p>
      <p>
        <a mat-button routerLink="/bio-portal/cellular-expression"><span class="fa fa-home fa-lg"></span> Cellular Expression Database</a>
      </p>

    </mat-card-content>
  </mat-card>
</div>
